<html>
<head>
    <title>comet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous"
    >
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="form-group">
    <img src="" alt="" id="img" style="max-width: 700px"/>
    <div class="px-4 py-5 my-5 text-center">
        <i class="bi bi-arrow-up-circle d-block mx-auto mb-4"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-up-circle mb-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
        <h1 class="display-5 fw-bold" style="margin: 15px 0;">千图成像</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-6">
            upload,目前仅支持jpg图片
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <input type="file" accept="image/jpeg" name="image" id="uploadImage" placeholder="選擇圖片文件" class="btn btn-primary btn-lg px-4 gap-3" onchange="postData()">
          </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.min.js"></script>
<script type="text/javascript">
    $.ajaxSetup({
        layerIndex: -1,
        beforeSend: function (jqXHR, settings) {
            this.layerIndex = layer.load(1);
        },
        complete: function () {
            layer.close(this.layerIndex);
        }
    });

    function postData() {
        var formData = new FormData();
        formData.append("image", $("#uploadImage")[0].files[0]);
        $.ajax({
            url: basePath + "/uploads",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'text',
            success: function (data) {
                var params = JSON.parse(data)
                if (params['status'] == 12000) {
                    $("#img").attr("src", params['data']['thumb']);
                } else {
                    alert(params['data']['content'])
                }
            },
            error: function (data) {
                alert('出错了')
            }
        });
    }

    //赋值变量
    var basePath = getContextPath();

    // 获取项目路径
    function getContextPath() {
        var pathName = window.document.location.pathname;
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
        return projectName;
    }
</script>
</html>
