<html>
<head>
    <title>comet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="form-group">
    <label>上传图片</label>
    <img src="" alt="" id="img"/>
    <input type="file" name="image" id="uploadImage" onchange="postData()">
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.min.js"></script>
<script type="text/javascript">
    $.ajaxSetup({
        layerIndex: -1,
        beforeSend: function (jqXHR, settings) {
            this.layerIndex = layer.load(1);
        },
        complete: function () {
            layer.close(this.layerIndex);
        }
    });

    function postData() {
        var formData = new FormData();
        formData.append("image", $("#uploadImage")[0].files[0]);
        $.ajax({
            url: basePath + "/uploads",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'text',
            success: function (data) {
                var params = JSON.parse(data)
                if (params['status'] == 12000) {
                    $("#img").attr("src", params['data']['thumb']);
                } else {
                    alert(params['data']['content'])
                }
            },
            error: function (data) {
                alert('出错了')
            }
        });
    }

    //赋值变量
    var basePath = getContextPath();

    // 获取项目路径
    function getContextPath() {
        var pathName = window.document.location.pathname;
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
        return projectName;
    }
</script>
</html>
